<div class="container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()" class="logo-color">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <img src="assets/vankata_tech_logo.svg" alt="Vankata.tech" class="logo logo-color" />
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" class="logo-color-background">
      <mat-nav-list>
        <a mat-list-item class="dark-father" routerLink="." *ngFor="let option of menuOptions">{{option}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <div class="main-background"></div>
      <div class="main-page">
        <div class="mat-display-3">Ivan's Homepage</div>
        <div class="main-quote">
          <blockquote>
            <p><q>Older people sit down and ask, 'What is it?' but the boy asks, 'What can I do with it?'.</q></p>
            <footer>Steve Jobs</footer>
          </blockquote>
        </div>
        <div class="main-menu">
          <div class="ripple-container dark-parent mat-elevation-z4" matRipple [matRippleColor]='"#bc1142"'>
            <img src='assets/rpi_logo.png' alt="RPi Logo" class="menu-logo"/>
            <h2>Raspberry Pi 64-bit</h2>
            <div class="details">Find out more about my 64-bit experiments with the board...</div>
          </div>
          <div class="ripple-container dark-parent mat-elevation-z4" matRipple [matRippleColor]='"green"'>
            <img src='assets/web_security_logo.png' alt="Web Security Logo" class="menu-logo"/>
            <h2>Web Security</h2>
            <div class="details">Read about some recent security issues that I have experienced, or read about...</div>
          </div>
          <div class="ripple-container dark-parent mat-elevation-z4" matRipple [matRippleColor]='"#03558f"'>
            <img src='assets/research_logo.png' alt="Research Logo" class="menu-logo"/>
            <h2>Research</h2>
            <div class="details">Have a look at my research projects...</div>
          </div>
          <div class="ripple-container dark-parent mat-elevation-z4" matRipple [matRippleColor]='"white"'>
            <img src='assets/about_me_logo.png' alt="About Me Logo" class="menu-logo"/>
            <h2>About me</h2>
            <div class="details">Find out more about me...</div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <router-outlet></router-outlet>
  <footer class="footer-theme">
    This site is developed with <a href="https://angular.io/">Angular 8</a>.&nbsp;&nbsp;
    © 2019 Vankata.tech
  </footer>
</div>